body {
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

.for-shadow {
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
    background-color: #24353f;
}

h1 {
    color: #17a2b8;
}

.w-85 {
    width: 90%;
}

input {
    background-color: transparent !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}